@charset "utf-8";

body {
    background-color: antiquewhite;
    margin-left: 30.99999%;
    margin-right: 30.99999%;
}

h1 {
    text-align: center;
}

.chessimg {
    float: right;
    border: 2px solid black;
}

.rulesp {
    margin-right: 20em;
    font-size: 19px;
}

h1, h2, h3, h4, h5, h6, p {
    text-shadow: .5px .5px gray;
}

footer {
    text-align: center;
}

a{
  text-decoration: none;
  font-size: 25px;
  color: brown;
  font-weight: bold;
  float: left;
  margin-left: 0px;
  margin-bottom: 50px;
}

a:hover{
  font-style: italic;
}

a:active{
  color: white;
  font-style: italic;
  font-size: 24px;
}

/* Media Query */

@media only screen and (max-width: 1039px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
}
