@charset "utf-8";

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

.chessimg {
    float: right;
}

.rulesp {
    margin-right: 20em
}

h1, h2, h3, h4, h5, h6, p {
    text-shadow: .5px .5px gray;
}

#playContent{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Light Tiles */

.white{
    background-color: lightyellow;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    float: left;
    text-align: center;
    width: 80px;
    height: 80px;
}

/* Dark Tiles */

.black{
    background-color: rosybrown;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    float: left;
    text-align: center;
    width: 80px;
    height: 80px;
}


#boardReset{
  margin-left: 265px;
  margin-bottom: 50px;
}

#moveUndo{
  margin-bottom: 50px;
}

input{
  font-size: 20px;
  background-color: paleturquoise;
  border: 1px solid white;
  box-shadow: 2px 2px 2px black;
}

a{
  text-decoration: none;
  font-size: 25px;
  color: brown;
  font-weight: bold;
  float: left;
  margin-left: 365px;
  margin-bottom: 50px;
}

a:hover{
  font-style: italic;
}

a:active{
  color: white;
  font-style: italic;
  font-size: 24px;
}

#menu{
  display: flex;
}

/* Media Query */

@media only screen and (max-width: 1039px) {
    #boardReset, #moveUndo, a {
        margin-left: 0;
        margin-right: 0;
    }
}